*, *:before, *:after {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
.App > header, .App > footer {
  width: 100%;
  padding: 1rem;
  transition: 200ms;
  color: white;
  text-shadow: 2px 2px 6px #000;
}
.App > header:hover, .App > footer:hover {
  box-shadow: 0 0 2rem rgb(138, 134, 134);
}
.App > header {
  position: sticky;
  top: 0;
  background-color: gray;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}
.App > main {
  display: flex;
  flex: 0 0 auto;
  min-height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.App > footer {
  font-size: small;
  background-color: gray;
  margin-top: auto;
  text-align: right;
}
.App > footer > a {
  color: white;
}

.error-message, .weather-details {
  text-align: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #535353;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
